@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
* {
box-sizing: border-box;
margin: 0;
padding: 0; 
}


.column {
float: left;
width:70%;
padding: 10px;
height: 140px; 


}

.columna {
float: left;

width: 30%;
padding: 10px;

height: 140px; 
}
@media (max-width: 768px) {
.col-sm-1 {
 width:1%;
 background-color: red;
 
}
}
@media (max-width:800px) {
.header

{ 
  color:white;
  margin-top: 40px;
  visibility: hidden;
 

}}

@media (max-width: 768px) {
.columna {
 width:100%;
 margin-top: -150px;
 color:white;
 height: 140px;
}
}
@media (max-width: 768px) {
.column {
 width:100%;
 height: 140px;

}
}
.row:after {
content: "";
display: table;
clear: both;
}

/*nav*/

.navbar {
         background-color: #7a5e74; 
         font-family: 'Arial', sans-serif;
         font-size: 3vh; 
         color: white;
         position: absolute;
         margin-top: 100px;
         
     }

     .navbar-nav.nav-pills .nav-item::after {
         content: "";
         display: block;
         width: 0;
         height: 2px;
         background-color: #007bff; 
         transition: width 0.3s;
     }

     .navbar-nav.nav-pills .nav-item:hover::after {
         width: 100%;
     }
/*main*/


.slide{
       width:100%;
       height:auto;
       opacity:1.98;
     }
    .slide h1{
     position:absolute;

     color:rgb(236, 227, 227);
     padding:140px 60px;
     font-size: 5rem;
     text-shadow:7px 3px #0e0d0d;
    }   


    @media (max-width: 908px) {
.slide h1{
 width:100%;
text-align: center;

 font-size:3rem;

}
}
@media (max-width: 768px) {
.slide {
 width:100%;
 height:250px;


}
}
.header {
border: 1px solid rgb(235, 229, 229);
padding:20px;
}
.main {
width: 100%;
float: left;
padding: 30px;
border: 1px solid rgb(245, 238, 238);
}
/*boxss*/  
.slides{
 width:90%;
 background-position: cover;
 
}

.containers {
position: relative;
text-align: center;
color: white;
}


.top-left {
position: absolute;
top: 8px;
PADDING:30PX;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: left;
}
@media (max-width: 760px) {
   .containers,
   .top-left
   { 
   width:100%;
   height:400px;
   }}
   @media (max-width: 331px) {
   .containers,
   .top-left
   { 
   width:100%;
   height:600px;
   }}
 /*row*/
 @media (max-width:700px) {
.COc
{ 
  width:100% !important;
  margin-top: 20px;

}}
@media (max-width: 700px) {
.COd

{ 
  width:100% !important;

}}
@media (max-width: 700px) {
.COB
{ 
  width:100% !important;

}}
@media (max-width:700px) {
.COA
{ 
width:100% !important;

}}
.COc{
width:50%;
background-color: aliceblue;
height:500px;
border-radius:none;
padding:60px 40px;
}

.COd{
width:50%;
background-color: aliceblue;
height:500px;
padding:160px 50px;
}
.COA{
width:50%;
background-color: aliceblue;
height:500px;
border-radius:none;
padding:60px 40px;
}
.COB{
width:50%;
background-color: aliceblue;
height:500px;
padding:160px 50px;
}
.COLAB{
width:100%;
padding: 0%;
height:900px;
border:1px solid red;
}
.COLcd{
width:100%;
padding: 0%;
border:1px solid red;
}
.abimg{
width:100%;
height:400px;
}
.cdimg{
width:100%;
height:400px;
margin-top: -80px;
}
/*footer*/

.footer-widget p {
 margin-bottom: 27px;
 font-family: 'Nunito', sans-serif;
 font-size: 16px;
color:white;
 line-height: 28px;
}
.animate-border {
 position: relative;
 display: block;
 width: 115px;
 height: 3px;
 background: #265daf; }

.animate-border:after {
 position: absolute;
 content: "";
 width: 35px;
 height: 3px;
 left: 0;
 bottom: 0;
 border-left: 10px solid #9051c4;
 border-right: 10px solid #9051c4;
 -webkit-animation: animborder 2s linear infinite;
 animation: animborder 2s linear infinite; }  
/*  dk */

.dk-footer {
 padding: 75px 0 0;
 background-color: #151414;
 position: relative;
 z-index: 2; }
.dk-footer .contact-us {
   margin-top: 0;
   margin-bottom: 30px;
   padding-left: 80px; }
.dk-footer .contact-us .contact-info {
 margin-left: 50px; }
.dk-footer .contact-us.contact-us-last {
 margin-left: -80px; }
.dk-footer .contact-icon i {
 font-size: 24px;
 top: -15px;
 position: relative;
 color:#007bff; }
.dk-footer-box-info {
 position: absolute;
 top: -122px;
 background: #202020;
 padding: 40px;
 z-index: 2; }
.dk-footer-box-info .footer-social-link h3 {
 color: #fff;
 font-size: 24px;
 margin-bottom: 25px; }
.dk-footer-box-info .footer-social-link ul {
 list-style-type: none;
 padding: 0;
 margin: 0; }
.dk-footer-box-info .footer-social-link li {
 display: inline-block; }
.dk-footer-box-info .footer-social-link a i {
 display: block;
 width: 40px;
 height: 40px;
 border-radius: 50%;
 text-align: center;
 line-height: 40px;
 background: #000;
 margin-right: 5px;
 color: #fff; } 
.dk-footer-box-info .footer-social-link a i.fa-facebook {
     background-color: #3B5998; }
.dk-footer-box-info .footer-social-link a i.fa-twitter {
     background-color: #55ACEE; }
.dk-footer-box-info .footer-social-link a i.fa-google-plus {
     background-color: #DD4B39; }
.dk-footer-box-info .footer-social-link a i.fa-linkedin {
     background-color: #0976B4; }
.dk-footer-box-info .footer-social-link a i.fa-instagram {
     background-color: #B7242A; }
/*IMG*/
.footer-awarad {
 margin-top: 285px;
 display: -webkit-box;
 display: -webkit-flex;
 display: -moz-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-flex: 0;
 -webkit-flex: 0 0 100%;
 -moz-box-flex: 0;
 -ms-flex: 0 0 100%;
 flex: 0 0 100%;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -moz-box-align: center;
 -ms-flex-align: center;
 align-items: center; }
.footer-awarad p {
 color: #fff;
 font-size: 24px;
 font-weight: 700;
 margin-left: 20px;
 padding-top: 15px; }

.footer-info-text {
 margin: 26px 0 32px; }
   
.footer-left-widget {
 padding-left: 80px; }
   
.footer-widget .section-heading {
 margin-bottom: 35px; }
   
.footer-widget h3 {
 font-size: 24px;
 color: #fff;
 position: relative;
 margin-bottom: 15px;
 max-width: -webkit-fit-content;
 max-width: -moz-fit-content;
 max-width: fit-content; }

.footer-widget ul {
 width: 50%;
 float: left;
 list-style: none;
 margin: 0;
 padding: 0; }
.footer-widget li {
 margin-bottom: 18px; }
.footer-widget p {
 margin-bottom: 27px; }
   
.footer-widget a {
 color: #878787;
 -webkit-transition: all 0.3s;
 -o-transition: all 0.3s;
 transition: all 0.3s; }
.footer-widget a:hover {
 color: #007bff; }
.footer-widget:after {
 content: "";
 display: block;
 clear: both; }

.dk-footer-form {
 position: relative; }
.dk-footer-form input[type=email] {
 padding: 14px 28px;
 border-radius: 50px;
 background: #2E2E2E;
 border: 1px solid #2E2E2E; }
.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::-webkit-input-placeholder {
 color: #878787;
 font-size: 14px; }
.dk-footer-form input::-webkit-input-placeholder, .dk-footer-form input::-moz-placeholder, .dk-footer-form input:-ms-input-placeholder, .dk-footer-form input::-ms-input-placeholder, .dk-footer-form input::placeholder {
 color: #878787;
 font-size: 14px; }
.dk-footer-form button[type=submit] {
 position: absolute;
 top: 0;
 right: 0;
 padding: 12px 24px 12px 17px;
 border-top-right-radius: 25px;
 border-bottom-right-radius: 25px;
 border: 1px solid #007bff;
 background: #007bff;
 color: #fff; }
.dk-footer-form button:hover {
 cursor: pointer; }


.contact-us {
 position: relative;
 z-index: 2;
 margin-top: 65px;
 display: -webkit-box;
 display: -webkit-flex;
 display: -moz-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
 -webkit-align-items: center;
 -moz-box-align: center;
 -ms-flex-align: center;
 align-items: center; }
.contact-icon {
 position: absolute; }
.contact-icon i {
 font-size: 36px;
 top: -5px;
 position: relative;
 color: #007bff; }
.contact-info {
 margin-left: 75px;
 color: #fff; }
.contact-info h3 {
 font-size: 20px;
 color: #fff;
 margin-bottom: 0; }
.cight {
 padding: 28px 0;
 margin-top: 55px;
 background-color: #202020; }
.cight span,
.cight a {
 color: #878787;
 -webkit-transition: all 0.3s linear;
 -o-transition: all 0.3s linear;
 transition: all 0.3s linear; }
.cight a:hover {
 color:#007bff; }

.cight-menu ul {
 text-align: right;
 margin: 0; }
.cight-menu li {
 display: inline-block;
 padding-left: 20px; }
.back-to-top {
 position: relative;
 z-index: 2; }
.back-to-top .btn-dark {
 width: 35px;
 height: 35px;
 border-radius: 50%;
 padding: 0;
 position: fixed;
 bottom: 20px;
 right: 20px;
 background: #2e2e2e;
 border-color: #2e2e2e;
 display: none;
 z-index: 999;
 -webkit-transition: all 0.3s linear;
 -o-transition: all 0.3s linear;
 transition: all 0.3s linear; }
.back-to-top .btn-dark:hover {
 cursor: pointer;
 background: #FA6742;
 border-color: #FA6742; }
.kfooter{
 width:100%;
}
@media (max-width:700px) {
.media
{ 
margin-top:270% !important;

}} 
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -15px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: -15px;
}
